In [1]:
"""판다스 시리즈 생성
"""

'판다스 시리즈 생성\n'

In [2]:
from pandas import Series

arr = [0,1,2,3]
s = Series(arr)
print(s)

0    0
1    1
2    2
3    3
dtype: int64

In [3]:
from pandas import Series

data = [100,200,300]
s = Series(data)
print(s)

0    100
1    200
2    300
dtype: int64

In [4]:
from pandas import Series

data = [100,200,300]
index = ["월", "화", "수"]
s = Series(data,index)
print(s)

월    100
화    200
수    300
dtype: int64

In [5]:
from pandas import Series

data = [100,200,300]
index = ["월", "화", "수"]
s = Series(data,index)

print(s.index)
print(s.values)

Index(['월', '화', '수'], dtype='object')
[100 200 300]

In [8]:
from pandas import Series

data = [500,800,200]
index = ["메로나", "누가바", "빠삐코"]
s = Series(data,index)

print(s)

메로나    500
누가바    800
빠삐코    200
dtype: int64

In [9]:
import pandas as pd

data = [500,800,200]
index = ["메로나", "누가바", "빠삐코"]
pd.Series(data,index)

print(s)

메로나    500
누가바    800
빠삐코    200
dtype: int64