In [1]:
"""시리즈 연산"""

'시리즈 연산'

In [2]:
from pandas import Series
s = Series([100,200,300])
print(s + 10)

0    110
1    210
2    310
dtype: int64

In [3]:
from pandas import Series

high = Series([51500, 51200, 52500, 51500, 51500])
low = Series([50700, 50500, 50500, 50800, 50700])
diff = high-low
print(diff)

0     800
1     700
2    2000
3     700
4     800
dtype: int64

In [5]:
from pandas import Series

high = Series([51500, 51200, 52500], index = ["5/1","5/2", "5/3"])
low = Series([50700, 50500, 50500], index = ["5/1","5/2", "5/4"])
diff = high-low
print(diff)

5/1    800.0
5/2    700.0
5/3      NaN
5/4      NaN
dtype: float64

In [6]:
from pandas import Series

s = Series(data=[100,200,300,400,500])
cond = s > 300
print(cond)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [8]:
from pandas import Series

s = Series(data=[100,200,300,400,500])
cond = [False,False,False,True,True]
s[cond]

3    400
4    500
dtype: int64

In [9]:
from pandas import Series

s = Series(data=[100,200,300,400,500])
cond = s > 300
print(s[cond])

3    400
4    500
dtype: int64

In [11]:
from pandas import Series

시가 = Series(data=[100,200,300,400,500])
종가 = Series(data=[100,200,300,400,500])
s = (시가>= 300)
print(시가[s])

2    300
3    400
4    500
dtype: int64

In [13]:
from pandas import Series

저가 = Series(data=[10,200,200,400,600])
고가 = Series(data=[100,300,400,500,600])
cond = (고가 - 저가 >= 100)

print(고가[cond])

1    300
2    400
3    500
dtype: int64