In [1]:
"""데이터프레임 인덱싱과 슬라이싱"""

'데이터프레임 인덱싱과 슬라이싱'

In [14]:
"""데이터프레임(판다스에는 시리즈와 데이터프레임 자료구조가 있음)
    -2차원 데이터를 효과적으로 표현한 판다스 자료구조
    -(저번수업 자료)"""

from pandas import DataFrame

data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['Naver', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']
df = DataFrame(data=data, index=index, columns=columns)

df

           종가     PER   PBR
Naver  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16

In [5]:
"""컬럼 선택
    -대괄호['컬럼명']을 통해서 단일 컬럼 선택 가능
        -df['종가']
        -컬럼을 표현하는 시리즈 타입의 객체
            -index는 회사 이름
            -value는 종가"""

from pandas import DataFrame

data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['Naver', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']
df = DataFrame(data=data, index=index, columns=columns)

df['종가']

Naver    157000
삼성전자      51300
LG전자      68800
카카오      140000
Name: 종가, dtype: int64

In [7]:
"""멀티 컬럼 선택
- 컬럼을 리스트로 구성함한 후 인덱싱 기호에 리스트를 전달
    -df[['컬럼명1', '컬럼명2']]"""

from pandas import DataFrame

data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['Naver', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']
df = DataFrame(data=data, index=index, columns=columns)

df[['PER', 'PBR']]

          PER   PBR
Naver   39.88  4.38
삼성전자     8.52  1.45
LG전자    10.03  0.87
카카오    228.38  2.16

In [10]:
"""로우선택(1/2)
-데이터프레임에서 로우(row)를 선택할 떄는 iloc나 loc 속성을 사용
loc = 인덱스를 사용해서 로우를 선택
iloc = 행번호를 사용해서 로우를 선택
"""

from pandas import DataFrame

data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['Naver', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']
df = DataFrame(data=data, index=index, columns=columns)

df.iloc[1]

종가     51300.00
PER        8.52
PBR        1.45
Name: 삼성전자, dtype: float64

In [9]:
df.loc['삼성전자']

종가     51300.00
PER        8.52
PBR        1.45
Name: 삼성전자, dtype: float64

In [11]:
"""로우선택(2/2)
-df.iloc[행번호]
-df.loc['인덱스']
"""

"로우선택(2/2)\n-df.iloc[행번호]\n-df.loc['인덱스']\n"

In [12]:
"""멀티 로우 선택
-리스트로 행번호 또는 인덱스를 표현하고 이를 iloc나 loc 속성을 사용
-df.iloc[[0,1]]
-df.loc[['인덱스1', '인덱스2']]
"""
df.iloc[[0,2]]

           종가    PER   PBR
Naver  157000  39.88  4.38
LG전자    68800  10.03  0.87

In [13]:
df.loc[['Naver','LG전자']]

           종가    PER   PBR
Naver  157000  39.88  4.38
LG전자    68800  10.03  0.87

In [15]:
"""로우 슬라이싱
-iloc,loc 속성을 사용하여 슬라이싱"""

df.iloc[0:2]

           종가    PER   PBR
Naver  157000  39.88  4.38
삼성전자    51300   8.52  1.45

In [16]:
df.loc['Naver':'삼성전자']

           종가    PER   PBR
Naver  157000  39.88  4.38
삼성전자    51300   8.52  1.45