In [1]:
"""데이터프레임 값과 영역 접근"""

'데이터프레임 값과 영역 접근'

In [9]:
"""특정 값 가져오기
-036360 종목의 현재가를 출력하기
    -df.iloc[행번호, 열번호]
    -df.loc[인덱스, 컬럼명]
"""
from pandas import DataFrame

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037730', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df = DataFrame(data=data, index=index, columns=columns)

df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [7]:
df.iloc[1,1]

1790

In [8]:
df.loc['036360','현재가']

1790

In [15]:
"""영역 가져오기
-데이터프레임에서 특정 영역 접근
    -df.iloc[[행번호 리스트, 열번호 리스트]]
    -df.loc[[인덱스 리스트, 컬럼명 리스트]]
"""

df.iloc[[0,1],[0,2]]

          종목명   등락률
037730     3R  7.36
036360  3SOFT  1.65

In [16]:
df.loc[['037730', '036360'], ['종목명', '등락률']]

          종목명   등락률
037730     3R  7.36
036360  3SOFT  1.65

In [14]:
"""연속적일 경우 이렇게도 쓸 수 있음"""
df.iloc[0:2, 0:2]

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [13]:
df.loc['037730' : '036360', '종목명' : '현재가']

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790